body {
    font-family: Arial, sans-serif;
    background:#f4f4f4;
   /* text-align: center; */
    display: flex; 
   /* justify-content: center; */
}

/* MINEEEEEEE
.ticket {

  background-color: lightblue;
  height: 50px;
  width: 500px;
  margin-bottom: 10px;
  display: block;
  margin-left: 60px;
} */

/* START FOUND CODE!!!! */
.ticket {
  background-color: lightblue;
  height: 100px;
  width: 400px; /* Take full width of the flex container */
  margin-bottom: 10px;
  position: relative; /* Needed for pseudo-elements */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensures notches don't overflow */
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
 
}

/* Notches */
.ticket::before,
.ticket::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 50px;
  background: white; /* Change this to your container'inline background color */
  border-radius: 50%;

}

/* Left side notch */
.ticket::before {
  left: -10px;
  box-shadow: 2px 0 0 0px rgb(255, 255, 255) inset; /* Creates inner shadow */
}

/* Right side notch */
.ticket::after {
  right: -10px;
  box-shadow: -2px 0 0 0px rgb(255, 255, 255) inset; /* Creates inner shadow */
}

#columnContainer {
    display: flex;
   /* Make the container take the full viewport height */
    height: 100vh;
    width: 100%;
}

.closeSlide {
   z-index: 1001;
   margin-top: 15px;
   margin-left: 610px;
   display: flex;
   position: fixed;
   float: right;
}



#leftColumn {
    flex: 1;
    background-color: rgb(172, 240, 172);
    flex-direction: column;
    display: flex;
}
#rightColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#ticketsButton {
  border-radius: 15px;
  margin-left: 5px;
  height: 50px;
  width: 100px;
  color: white;
  background-color: rgb(55, 197, 55);
  border-radius: 25px;
  border: none;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
}

#listings {
    background-color: white;
    flex: 1;
    justify-content: center;
    
}
#ticketDiv {
    flex: 0 0 125px;
    background-color: white;
    text-align: center;
    height: 10px;
}

 #ticketSelect {
    display: inline-block;
    margin-top: 30px;
    width: 325px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}

.hide {
    visibility: hidden;
}

#timesUpOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dimming effect with transparency */
  backdrop-filter: blur(5px); /* The magic sauce for blurring the background */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  z-index: 1000;
  display: none;

}


.checkoutOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dimming effect with transparency */
    backdrop-filter: blur(5px); /* The magic sauce for blurring the background */
    -webkit-backdrop-filter: blur(5px); /* Safari support */
    display: flex;
   /* justify-content: center; */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other content */
    /* Initially hidden by default, can be toggled via JS */
    display: none; 
}

.venueMap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 60px); /*100/110*/
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
    justify-content: center;
    text-align: center;


}

.specialGridRow {
    grid-column: span 5;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(7, 41.5px); /* 68. */
    grid-template-rows: 60px;
    grid-gap: 5px;
}

.sectionGA {
    grid-column: span 3;
    grid-row: 2 / span 2;
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionA1 {
    grid-column: 1 span;
    grid-row: 2 / 1 span;
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionA2 {
    grid-column: 1 span;
    grid-row: 2 / 1 span;
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionB1 {
    grid-column: 1 span;
    grid-row: 3 / 1 span;
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionB2 {
    grid-column: 1 span;
    grid-row: 3 / 1 span;
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionC1 {
    grid-column: span 2; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionC2 {
    grid-column: span 2; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.sectionD1 {
    grid-column: span 3; 
    color: white;
    padding: 21px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;  
}

/*
.sectionD2 {
    background-color: #4CAF50;
    grid-column: span 5; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
} 
*/

.section:hover {
    background-color: #399c3e;
}

.section {
    background-color:#8cd390;
}

.stage {
    grid-column: 2 / span 3;
    grid-row: 1;
    background-color: #626262;
    color: white;
    padding-top: 15px;
    border-radius: 8px;
    font-weight: bold;
}

.popUp {
    position: absolute;
    display: flex;
    background: #353535;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    white-space: nowrap;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

#timer {
    display: flex;
    position: fixed;
    height: 60px;
    width: 110px;
    background-color: lightblue;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 18px;
    pointer-events: none;
    margin-left: 1050px;
    color: white;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5em;
    z-index: 1001;
}

#timesUpDiv {
  height: 200px;
  width: 475px;
  justify-content: center;
  text-align: center; 
  border-radius: 8px;
  position:absolute;
  /* visibility: hidden; */
  z-index: 1002;
  margin-top: 200px;
  margin-left: 370px;
  margin-right: 0px;
  background-color: rgb(244, 186, 186);
}

#timesUpHeader {
  margin-top: 30px;
  margin-bottom: 25px;
}

#timesUpText {
  color: white;
}

#refreshButton {
  height: 40px;
  width: 450px;
  color: white;
  font-size: 18px;
  background-color: rgb(68, 238, 68);
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

/* */
.slider-container {
    width: 680px; /* !!!! was 650 */
   /* max-width: 500px; /Adjust as needed */
    overflow: hidden;  /* Hides the divs that are off-screen */
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    height: 530px; /* !!!! was 500 */ 
    border: 2px solid rgb(130, 130, 130);
    background-color: white;
    margin-top: -50px;
  }
  
  .slide-wrapper {
    display: flex;
    width: 300%; /* 100% per slide * 3 slides */
    height: 100%;
    transition: transform 0.5s ease; /* Smooth transition */
  }

  #buttonDiv {
    position:absolute;
    visibility: hidden;
    z-index: 1001;
    margin-top: 590px;
    margin-left: 280px;
    margin-right: 0px;
    width: 710px;
 /*  background-color: lightcoral; */
  }

  #nextSlideButton { 
    /*margin-left: 820px;*/
    z-index: 1001; 
    display: inline-block;
   /* pointer-events: none;*/
  }

  .slide1input {
    background-color: green;
  }

  #previousSlideButton {
    /*margin-left: 310px;*/
    z-index: 1001; 
    display: inline-block;
    margin-right: 480px;
  }


  #previousSlideButton, #nextSlideButton {
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(55, 197, 55);
    border-radius: 25px;
    border: none;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
} 
/*
  #previousSlideButton, #nextSlideButton {
        height: 50px;
        width: 100px;
        margin-top: 580px;
        z-index: 1001; 
        position: absolute;
        color: white;
        background-color: rgb(55, 197, 55);
        border-radius: 25px;
        border: none;
        letter-spacing: 1px;
        font-size: 16px;
        cursor: pointer;
} */

.hide {
    display: none;
}
  
  .slide {
    width: 33.3%; /* Each slide takes up one-third of the wrapper width (33.3%) */
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 30px;
    overflow: scroll;
    /* Add different background colors for visibility */
    
  }

 
  #slide1 input, #slide2 input {
    border-radius: 4px;
  }

  #cardInformation {
    font-size: 19px;
    margin-top: 35px;
  }

  /*
  option:disabled {
    color: rgb(137, 55, 55);
  }
  
  select:valid {
    color: black;
  } */
  
  #firstLastPhoneDiv {
    margin-top: 35px;
  }
  
  #placeOrderDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #orderPricing {
    width: 400px;
    font-size: 14px;
   /* margin: 0 auto; */ /* center horizontally */
  }
  

#circle {
    width: 30px;
    height: 30px;
    background: lightblue;
    border-radius: 50%;
    color: white;
    text-align: center;
    float: left;
    line-height: 30px;
    flex-shrink: 0;
    font-size: 20px;
  }

  .header {
    margin-left: 10px; 
    font-size: 25px;/* space between circle and text */
  }

  .headerContainer {
    display: flex;              /* Put items on the same line */
    align-items: center; 
    margin-top: -20px;
  }

  .slideText {
    font-size: 19px;
  }

  .parking{
    font-size: 12px;
    color: rgb(80, 80, 80);
  }

  .additions {
    margin-bottom: 0px;
    line-height: 1px; 
    font-size: 14px;
  }

   #ticketProtectionDiv  {
    margin-top: 24px;
    
  } 

.left {
  float: left;
}

.right {
  float: right;
}
 .checkBoxDiv {
  display: flex;
  
 }

 #listings {
  text-align:  center;
  flex: 1;
 }
 
 #placeOrderButton {
  width: 650px;
  height: 40px;
  color: white;
  font-size: 18px;
  background-color: rgb(55, 197, 55);
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;

 }

 #orderPricing {
  margin-top: 30px;;
 }

 .inline {
  display: inline-block;
}

 #lastName {
  margin-left: 30px;
  width: 230px;
 }

 #lastNameLabel {
  margin-left: 30px;
 }

 #firstName {
  width: 230px;
 }

 #checkoutEmail, #phone, #confirmEmail, #cardNumber {
  width: 500px;
 }

 #slide1 label, input {
  display: block;
}

#slide1 label, #slide2 label {  
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(80, 80, 80);
}


#confirmEmailLabel, #firstInline, #lastInline, #phoneLabel, #stateInline, #zipInline, #expirationDateInline, #cvvInline {
  margin-top: 20px;
} 

.spanDiv {
  height: 20px;
  background-color: lightblue;
  
}

/*
#checkoutEmailMessage, #confirmEmailMessage {
 background-color: lightblue;
 visibility: hidden;
} */


#slide1TextHeader {
  margin-left: 45px;
  margin-top: 0px;
}

#slide1 form, #slide2 form{
  margin-left: 45px;
}
#slide1 input {
  margin-top: 3px;
  border: 1px solid  rgb(179, 179, 179);
  height: 27px;
  padding-left: 10px;
} 

#address, #city, #zip, #cvv {
  width: 230px;
}

#cityInline, #zipInline, #cvvInline {
  margin-left: 30px;
}

#slide2 input {
  margin-top: 3px;
  border: 1px solid  rgb(179, 179, 179);
  height: 27px;
  padding-left: 10px;
}


#state {
  width: 245px;
}

#expirationMonth, #expirationYear {
  width: 110px;
  margin-bottom: 0px;
}

#slide2 select{
  display: block;
  margin-bottom: 14px;
  margin-top: 4px;
  height: 31px;
  font-size: 14px;
  border: 1px solid  rgb(179, 179, 179);
  border-radius: 4px;
}

#checkoutEmail{
  border: 2px solid red;
  background-color: #ffe6e6;
}

.error { color: red; font-size: 0.9em; }
.success { color: green; font-size: 0.9em; }